body {
  padding-top: 70px;
  background-color: rgb(241, 246, 249);
}

.badge-primary {
  background-color: rgb(33, 31, 109);
  padding-top: 8px;
}

.btn-primary {
  color: #FFFFFF;
  background-color: rgb(33, 31, 109) !important;
  border: 0 !important;
}

.btn-primary:hover {
  opacity: 0.5;
  border: 0;
}

.btn-primary.disabled, .btn-primary:disabled {
  opacity: 0.5;
  background-color: rgb(135, 172, 196);
}

.card {
  max-width: 320px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-color: rgb(196, 216, 229);
  border-right-color: rgb(196, 216, 229);
  border-bottom-color: rgb(196, 216, 229);
  border-left-color: rgb(196, 216, 229);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 4px 4px;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-color: rgb(196, 216, 229);
  border-right-color: rgb(196, 216, 229);
  border-bottom-color: rgb(196, 216, 229);
  border-left-color: rgb(196, 216, 229);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 4px 4px;
}

.alert-confirm-btn {
  background-color: #f37e1d !important;
  border-color: #f37e1d !important;
  border-radius: 20px !important;
  cursor: pointer !important;
}

.alert-confirm-btn:hover {
  background-color: #f2601d !important;
  border-color: #f2601d !important;
}

.alert-confirm-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.alert-cancel-btn {
  color: #6c757d !important;
  border-color: #6c757d !important;
  border-radius: 20px !important;
  background-color: transparent !important;
  border: 1px solid !important;
  cursor: pointer !important;
}

.alert-cancel-btn:hover {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.upload-file-btn{
  border-radius: 40px;
  background-image: linear-gradient(336deg, #f2601d, #f37e1d);
  font-size: 22px;
  font-weight: bold;
  line-height: 2.02;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 0px 30px;
}

.upload-file-btn:hover {
  background-image: linear-gradient(336deg, #e84900, #f5781d);
}

.loading-overlay {
    opacity: 0.9;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.loading-container {
    color: black;
    margin: auto;
    font-size: 26px;
    font-weight: bold;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center center;
    align-items: center;
}

.section-title{
  font-size: 26px;
  letter-spacing: 0.65px;
  line-height: 1.1;
  position: relative;
}

.section-title::before {
  border-bottom: 2px solid #57a4e3;
  width: 24px;
  display: block;
  content: " ";
  position: absolute;
  bottom: 19%;
  left: -34px;
}

.clickable {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}
