.sidebar {
  color: rgb(119, 119, 119);
  background: linear-gradient(
    rgb(249, 248, 247),
    rgb(251, 250, 248) 46px,
    rgb(251, 251, 249) 120px,
    rgb(248, 247, 245) 35%,
    rgb(249, 248, 246)
  );
}

.sidebar__highlights {
  list-style: "none";
  padding: 0;
}

.highlight__location {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 10px;
}

.highlight__image {
  overflow: auto;
  max-width: 300px;
  border: 1px dashed;
}

.sidebar__highlight {
  padding: 1rem;
  cursor: pointer;
  transition: background 140ms ease-in;
  border-bottom: 1px solid rgb(119, 119, 119);
  position: relative
}


.sidebar__highlight .fa-close{
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: opacity 140ms ease-in;
}

.sidebar__highlight:hover .fa-close{
  opacity: 1;
}

.sidebar__highlight:hover {
  background: rgba(58, 56, 52, 0.08);
}

a {
  color: #d35400;
}

blockquote {
  padding: 0;
  margin: 0;
  quotes: "\201c" "\201d";
  overflow: auto;
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}

.back {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.back span {
  text-decoration: underline;
  margin-left: 5px;
}

.highlights {
  padding: 0;
  max-height: calc(100% - 129px);
  overflow-y: auto;
}

.description {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 5px;
  width: 100%;
  background-color: white;
  z-index: 2;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}